
   <div class="navbar navbar-static-top">     
    <div class="container text-center">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
             <li ng-if="user">
                <a ui-sref="entries">Entries</a>
            </li>
            <li ng-if="!user">
                <a ui-sref="login">Login</a>
            </li>
            <li ng-show="user">
                <a ng-click="logout()">Logout</a>
            </li>
        </ul>
    </div>
  
</div>



