p {
	line-height: 200%;
	letter-spacing: 2px;
	font-size: 1.2em;
	margin: 0 0 2em 0;
}

.ta-root {
	padding: 4em 0;
}

.ta-scroll-window > .ta-bind {
	min-height: 50vh;
}

h3 {
	margin: 0 0 1.5em 0;
}
