p {
	margin: 0;
}	
	

textarea {
	width: 100%;
	text-align: center;
	border: none;
	background-color: rgba(0,0,0,0);
	&:focus{
		outline: none;
	};
	line-height: 200%;
	font-size: 1.5em;
	letter-spacing: 2px;
}

label {
	font-weight: normal;
	font-size: 2em;
	letter-spacing: 2px;
}