p {
	margin: 0;
}	

#finish-button {
	background-color: rgba(0,0,0,0);
	color: black;
	border-color: black;
	border-width: 1px;
	&:hover {
		background-color: #fff1c0;
	}
}

.ta-toolbar {
	display: none;
}
	

textarea {
	width: 100%;
	text-align: center;
	border: none;
	background-color: rgba(0,0,0,0);
	&:focus{
		outline: none;
	};
	line-height: 200%;
	font-size: 1.5em;
	letter-spacing: 2px;
}

label {
	font-weight: normal;
	font-size: 2em;
	letter-spacing: 2px;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
	min-height: 50vh;
}

.ta-scroll-window > .ta-bind {
	min-height: 50vh;
}

.ta-editor, .ta-editor > .ta-bind {
	min-height: 50vh !important;
}
