.rotated-hamburger {
  transform: rotate(90deg);
}

.rotate-hamburger {
  transition: all 1s ease-in-out;
}

.leftSidemenu-test {
  transition: 1s linear;
}

.leftSidemenu-test.ng-enter {
  opacity: 0;
}

.leftSidemenu-test.ng-enter-active {
  opacity: 1;
}

.leftSidemenu-test.ng-leave {
  opacity: 1;
}

.leftSidemenu-test.ng-leave-active {
  opacity: 0;
}


.glyphicon-menu-hamburger {
    position: fixed;
    left: 1.5em;
    top: 1em;
    font-size: 2em;
    z-index: 1000;
  }

.navbar, navbar {
  z-index: 1;

}

.navbar-static-top .ng-enter{
  color: red;
    transition: all 5s ease-in;
  }


navbar {

  .container {
      z-index: 1;   
  }
  .navbar-nav li {
    float: none;
    display: inline-block;
  }
  .nav {
    float: none;
  }
  display: block;
/*  background: white;*/
  border-bottom: 1px solid white;
/*  box-shadow: 1px 1px 14px -3px black;*/
  position: fixed;
  left: 0px;
  height: 100%;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 6em;
    padding-left: 3em;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 1.5em;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

@media (max-device-width: 480px) {
  ul {
    font-size: 2em;
  }
  .glyphicon {
    font-size: 3em;
  }
  .navbar {
    margin-top: 4em;
  }
  #entries-container {
    margin-top: 4em;
    padding-left: 7em;
  }
  #entry-prompt {
    font-size: 3em;
  }
  #finish-button {
    height: 100px;
    width: 200px;
  }
  #text-angular-container {
    font-size: 2.75em;
  }

  .ta-root {
    padding: 1em 0;
  }

  .ta-scroll-window > .ta-bind{
    min-height: 50vh;
  }

  #login-text {
    font-size: 2em;
  }

  #about-text {
    font-size: 2em;
    padding-top: 4em;
  }
}


