<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <h1 id="login-text">Login:</h1>
   <!--  <oauth ng-hide='user' service-provider='Google' image='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1000px-Google_%22G%22_Logo.svg.png'></oauth> -->


    
    
    <!-- EMAIL LOGIN -->
    <!-- <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button> -->
</form>
<button class="btn btn-default"><a href="/auth/google">Sign in with Google</a></button>