<div class="container-fluid">
    <div class="form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h4>Add an Entry</h4>
                <form name="entryForm" ng-submit="addEntry(entryFormData)">
                    <div class="form-group" ng-repeat="field in fields track by $index" ng-if="field.active === true">
                        <label>{{entryFormData[$index].prompt = field.prompt}}</label>
                        <textarea ng-if="field.answer_type === 'textarea'" name="" id="" cols="30" rows="10" ng-model="entryFormData[$parent.$index].answer[$index]"></textarea>
                        <input ng-repeat="input in createArray(field.answer_lines) track by $index" ng-if="field.answer_type !== 'textarea'" type="text" id="answer-{{field._id}}-{{$index}}" class="text-class" name="answer" ng-model="entryFormData[$parent.$parent.$index].answer[$index]">
                        <span class='glyphicon glyphicon-remove' ng-click="hideField(field._id)"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="entryForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h4>Add a field</h4>
                <form name="fieldForm" ng-submit="addField(newField)">
                    <div class="form-group">
                        <label>Prompt:</label>
                        <input type="text" name="prompt" ng-model="prompt">
                    </div>
                    <div class="form-group">
                        <label>Number of Answers:</label>
                        <input type="text" name="number_answers" ng-model="number_answers">
                    </div>
                    <div class="form-group">
                        <label>Answer Type:</label>
                        <input type="radio" name="answer_type" ng-model="answer_type" value="text"> text
                        <input type="radio" name="answer_type" ng-model="answer_type" value="textarea"> textarea
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="entryForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
