<div id="submit-entry-container" class="container-fluid">
    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 text-center">
        <label id="entry-prompt">What's on your mind?</label>
        <div text-angular ng-model="textField" id="text-angular-container">
        </div>
        <button id="finish-button" ng-if="user" class="btn-lg btn-primary" ng-click="addEntry(textField)">Finish</button>
        <p id="login-text" ng-if="!user"><a ui-sref="login">Login</a> to save your entries</p>
    </div>
</div>
