* {
    box-sizing: border-box;
    font-family: "Lantinghei SC";
}


body {
    background: linear-gradient(165deg, #fff, #F0FBFF, #F2FCFF, #fff1c0 ) no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    background-attachment: fixed
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 6em;
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'submit-entry/main';
@import 'view-entries/main';
